<div class="page-wrapper bg-gra-02 font-poppins" [ngClass]="{'p-t-130 p-b-100':!isMobile, 'p-t-20 p-b-20':isMobile}">
  <div class="container wrapper wrapper--w680">
    <div class="card card-4">

      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">

          <h2 class="auth-title" *ngIf="!isMobile">Password recovery</h2>

          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <label class="label">Email</label>
            </div>
            <div class="col-md-6 col-sm-12">
              <div *ngIf="firstSubmitted && emailField.errors">
                <div *ngIf="emailField.errors.required" class="error">Required field</div>
                <div *ngIf="emailField.errors.email" class="error">Invalid email</div>
              </div>
            </div>
          </div>

          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <div class="input-group">
                <input id="email" type="email" formControlName="email" [readOnly]="isLoading" class="input--style-4"
                       [ngClass]="{ 'field-error': firstSubmitted && emailField.errors }"/>
              </div>
            </div>

            <div class="col-md-6 col-sm-12" *ngIf="!isMobile">
              <div class="input-group">
                <p class="desc">A password reset email will be sent to this email address.</p>
              </div>
            </div>

          </div>

          <div class="row row-space">
            <div class="col-md-6 col-sm-12">
              <button class="btn btn--radius-2 btn--blue" type="submit" [disabled]="isLoading"
                      [ngClass]="{ 'disabled-button': isLoading, 'mobile-btn': isMobile }">Restore
              </button>
            </div>
            <div class="col-md-6 col-sm-12">
              <img src="/assets/img/loading.gif" class="loading" *ngIf="isLoading">
              <div *ngIf="error && !isLoading">
                <p class="error">{{error}}</p>
              </div>
            </div>
          </div>

          <div class="row row-space cancel-region">
            <div class="col-md-6 col-sm-12">
              <a routerLink="" [class.disabled]="isLoading ? true: null" class="routerLink">Sign in</a>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>





