<div class="page-wrapper bg-gra-02 font-poppins" [ngClass]="{'p-t-130 p-b-100':!isMobile, 'p-t-20 p-b-20':isMobile}">
  <div class="container wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">

        <h2 class="auth-title">You do not have access to this page!</h2>
        <div class="row row-space">
          <img src="/assets/img/ok.png" style="margin: 0 auto; max-width: 100px;">
        </div>

        <p style="text-align: center; margin-top: 40px;"><a routerLink="" class="routerLink">Sign in</a></p>

      </div>
    </div>
  </div>
</div>


