<footer class="footer">

  <div class="container-fluid">

    <nav class="float-left">
            <ul>
                <li>
                    <a [href]="site">
                        {{'COMMON.OUR-SITE' | translate }}
                    </a>
                </li>
                <li>
                    <a (click)="openAboutDialog()" class="link">
                        {{'COMMON.ABOUT' | translate }}
                    </a>
                </li>
                <li>
                    <a [href]="blog">
                        {{'COMMON.BLOG' | translate }}
                    </a>
                </li>

            </ul>

        </nav>




        <div class="copyright float-right">
            <a class="link" style="color: #0b75c9" [href]="course" target="_blank">{{ 'COMMON.PROJECT-DESC' | translate}}&nbsp;</a>
            © {{year | date: 'yyyy'}} <i class="material-icons">favorite</i>
            <a [href]="site" target="_blank">{{siteName}}</a>
        </div>


    </div>
</footer>
