<!--создание/редактирование категории-->


<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>


  <mat-form-field>
    <mat-label>{{'COMMON.NAME-20SYMBOLS' | translate}}</mat-label>
    <input
      #inputTitle

      matInput maxlength="15"

      [(ngModel)]="category.title"
      (keydown.enter)="confirm()"

    />

    <button
      *ngIf="category.title.trim().length > 0"

      class="clear-icon"
      matSuffix mat-icon-button aria-label="Clear"

      (click)="category.title= ''"

    >
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-content>


<!--  кнопки возможных действий-->
<mat-dialog-actions class="padding-bottom-20">

  <div class="col-12 text-center nopadding">

    <button
      mat-raised-button color="primary"
      (click)="confirm()"
      [disabled]="inputTitle.value.trim().length==0"
    >
      {{'COMMON.SAVE' | translate}}
    </button>

    <button mat-raised-button (click)="cancel()">{{'COMMON.CANCEL' | translate}}</button>

  </div>


  <div class="col-12 text-center">


    <button
      *ngIf="canDelete"
      mat-button
      (click)="delete()" class="red">

      {{'COMMON.DELETE' | translate}}

    </button>


  </div>


</mat-dialog-actions>



